src/
__tests__/
.github/
.husky/
.idea/
.vscode/
coverage/
.env
.env.*
.eslintrc*
eslint.config.*
.prettierrc
tsconfig.json
tsup.config.*
jest.config.*
*.log
.DS_Store
.gitignore
yarn.lock
.yalc/
yalc.lock